@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

:root {
    --bs-font-sans-serif: Montserrat, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    
}

.btn-primary-custom {
    --bs-btn-color: #fff;
    --bs-btn-bg: #96BB7C; 
    --bs-btn-border-color: #96BB7C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #83a16d ;
    --bs-btn-hover-border-color: #83a16d ;
    --bs-btn-focus-shadow-rgb: 150, 187, 124;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #83a16d ;
    --bs-btn-active-border-color: #83a16d ;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #c0d3b3;
    --bs-btn-disabled-border-color: #c0d3b3;
  }

  .btn-outline-primary-custom {
    --bs-btn-color: #96BB7C;
    --bs-btn-border-color: #96BB7C;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #96BB7C;
    --bs-btn-hover-border-color: #96BB7C;
    --bs-btn-focus-shadow-rgb: 150, 187, 124;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #96BB7C;
    --bs-btn-active-border-color: #96BB7C;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #c0d3b3;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #c0d3b3;
    --bs-gradient: none;
  }

  .text-primary-custom {
    --bs-text-opacity: 1;
    color: #96BB7C !important;
  }

  .link-primary-custom {
    color: #96BB7C  !important;
    -webkit-text-decoration-color: #96BB7C !important;
    text-decoration-color: #96BB7C !important;
  }

  .link-primary-custom:hover, .link-primary-custom:focus {
    color: #83a16d  !important;
    -webkit-text-decoration-color: #83a16d !important;
    text-decoration-color: #83a16d !important;
  }

  /* дополнительный размер шрифта в 14px */
  .fs-7 {
    font-size: 0.875rem !important;  /* 14px */
  }

  .py-3-custom {
    padding-top: 0.875rem !important;
    padding-bottom: 0.875rem !important;
  }

  .letter-spacing-1 {
    letter-spacing: 1px;
  }

  .short-red-line {
    border: 1px solid var(--bs-danger);
    width: 50px;
  }

  .short-red-line-wider {
    border: 3px solid var(--bs-danger);
    width: 85px;
  }

 .main__advantages-page-title__info {
    width: 470px;
 }

 @media (max-width: 992px) {
    .main__advantages-page-title__info {
        margin-inline: auto;
     } 
 }

 .bg-pink {
    background-color: #FFF2F3;
 }